
		button, div, form, input {
			margin: 20px;
		}

/*body {
	background-image: url('http://cdn.playbuzz.com/cdn/763118af-09ea-4199-9f8f-ce5e3d3f79f5/1de19601-c6f5-4ddc-a8b7-310ded57eab0.gif');
	background-size: cover;
}
*/
.container {

}